@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: 'AdeisplayBold';
    src: url('../public/assets/fonts/NeuePlak-SemiBold.ttf');
}

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
}
.header--image{
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header--image img{
    width: 100px;
    height: 100px;
}
.hard--border_navigate{
    border-bottom: 2px solid grey;  
    border-top: 2px solid grey;  
}
.hard--navigate{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 20px;
    color: aliceblue;
}
.hard--navigate li{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    list-style: none;
}

.collection{
    font-family: "Inter", sans-serif;
}

.about--page{
    font-family: "Inter",sans-serif;
}

.bride{
    font-family: "Inter",sans-serif;
}

.grid--mansoory{
    font-family: "AdeisplayBold";
    display:  grid;
    grid-template-areas: 'box1 box1 box2 box3'
                         'box1 box1 box4 box5';
}
.grid--mansoory > div{
    border: 1px solid white;
}
/* .grid--mansoory > div > h1{
    font-family: "Adeisplay";
} */
.grid--mansoory .box1{
    grid-area: box1;
}
.grid--mansoory .box2{
    grid-area: box2;
}
.grid--mansoory .box3{
    grid-area: box3;
}
.grid--mansoory .box4{
    grid-area: box4;
}
.grid--mansoory .box5{
    grid-area: box5;
}